{% extends "base.html" %}
{% block content %}
<div id="root">
    <div style="width: 100%; height: 100%;">
        <div style="width: 100%; height: 100%;">
            <div class="horizontal expand" style="height: 100%">
                <div class="video-column" style="margin-left: 4px">
                    <div class="button-load-video-wrapper">
                        <div id="open-popup" class="button-load-video horizontal">
                            <b>날짜 선택</b>
                        </div>
                    </div>
                    <div class="video-timer-wrapper">
                        <div class="video-timer horizontal">
                            <div class="label">Video time</div>
                            <div class="video-time">00:00.000</div>
                            <div class="button-set-video-time">
                                <i>*</i>
                            </div>
                        </div>
                    </div>
                    <div class="video-player-toolbar">
                        <div class="playback-info horizontal">
                            <div class="group horizontal">
                                <div class="label">재생속도</div>
                                <div class="value">1.0</div>
                            </div>
                            <div class="group horizontal">
                                <div class="label">싱크</div>
                                <div class="value">00:00.000</div>
                                <div class="button-edit">*</div>
                            </div>
                            <div class="group horizontal">
                                <div class="label">스킵 간격</div>
                                <div class="value">
                                    2
                                    sec
                                </div>
                                <div class="button-edit">*</div>
                            </div>
                            <div class="group horizontal">
                                <div class="label">+ shift</div>
                                <div class="value">
                                    10
                                    sec
                                </div>
                                <div class="button-edit">*</div>
                            </div>
                        </div>
                        <div class="shortcut-info horizontal">
                            <div>
                                <div class="label">재생속도</div>
                                <div class="label">이벤트 등록</div>
                            </div>
                            <div>
                                <div class="horizontal">
                                    <div class="shortcut horizontal">
                                        <div class="shortcut-item">-</div>
                                        <div class="shortcut-item">+</div>
                                    </div>
                                </div>
                                <div class="horizontal">
                                    <div class="shortcut">
                                        <div class="shortcut-item">enter</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="label">스킵</div>
                                <div class="label">노드 삭제</div>
                            </div>
                            <div>
                                <div class="horizontal">
                                    <div class="shortcut horizontal">
                                        <div class="shortcut-item">←</div>
                                        <div class="shortcut-item">→</div>
                                    </div>
                                </div>
                                <div class="horizontal">
                                    <div class="shortcut">
                                        <div class="shortcut-item">esc</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="label">재생</div>
                            </div>
                            <div>
                                <div class="horizontal">
                                    <div class="shortcut">
                                        <div class="shortcut-item">spacebar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event-tab-radio-buttons horizontal" style="margin: 4px 8px;">
                            <div class="player horizontal">
                                <button class="button-myron radio">이벤트</button>
                            </div>
                            <div class="player horizontal">
                                <button class="button-myron radio">포메이션</button>
                            </div>
                        </div>
                    <div class="event-area">
                        <div class="event-timeline" style="height: 100%;"></div>
                    </div>
                    <!-- 이벤트 콘텐츠 -->
                </div>                        
                <div class="expand analysis-column" style="overflow-y: auto; padding: 0px 8px">
                    <div class="app-toolbar horizontal">
                        <button class="button-myron">선수 관리</button>
                        <button class="button-myron">메모</button>
                        <button class="button-myron">단축키 설정</button>
                        {% if user.is_authenticated %}
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="button-myron">로그아웃</button>
                            </form>
                        {% endif %}
                        <div class="dropdown-button">
                            <button class="button-myron">MORE</button>
                            <div class="dropdown"></div>
                        </div>
                    </div>
                    <div>
                        <div class="player-selector horizontal" style="margin: 4px 8px;">
                            <div class="player horizontal">
                                <button class="button-myron radio">Home</button>
                            </div>
                            <div class="player horizontal">
                                <button class="button-myron radio">Away</button>
                            </div>
                        </div>
                    </div>
                    <div class="expand center video-player horizontal">
                        <div id="load-video-popup" style="display: none;">
                            <div class="popup-content">
                                <form id="upload-form">
                                    <div class="form-group">
                                        <label for="video-upload">비디오 업로드</label>
                                        <input type="file" class="form-control-file" id="video-upload">
                                    </div>
                                    <div class="form-group">
                                        <label for="datepicker">날짜 선택</label>
                                        <input type="text" class="form-control" id="datepicker">
                                    </div>
                                    <div class="button-group horizontal">
                                        <button type="button" class="button-myron" id="submit-button">저장</button>
                                        <button type="button" class="button-myron" id="close-popup">닫기</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="event-form">
                            <div class="horizontal input-area-wrapper">
                                <input class="raw-input" value="">
                                <button class="button-important fill">추가</button>
                            </div>
                            <div class="event-possession-info-wrapper">
                                <div class="horizontal scroll-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
// JavaScript
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('open-popup').addEventListener('click', function () {
        document.getElementById('load-video-popup').style.display = 'block';
    });

    document.getElementById('close-popup').addEventListener('click', function () {
        document.getElementById('load-video-popup').style.display = 'none';
    });
});
</script>
{% endblock %}
