{% extends "base.html" %}
{% block content %}
<div class style="height: 100%">
    <form method="post" action="{% url 'login' %}" style="height: 100%">
        {% csrf_token %}
        {% include "form_error.html" %}
        <div class="auth-main">
            <p class="title">Project : Myron</p>
            <p class="desc">For Throwers</p>
            <div class="form-group">
                <label for="username"></label>
                <input type="text" class="form-control" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}">
            </div>
                <div class="form-group">
                <label for="password"></label>
                <input type="text" class="form-control" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}">
            </div>
            <button type="submit" class="button-important">로그인</button>
        </div>
    </form>
</div>
{% endblock %}
