{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#000000">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <title>Project:Myron</title>
    </head>
    <body>
        <div id="root">
            <div style="width: 100%; height: 100%;">
                <div style="width: 100%; height: 100%;">
                    <div class="horizontal expand" style="heigth: 100%;">
                        <div class="video-column">
                            <div class="button-load-video-wrapper">
                                <div class="button-load-video horizontal">
                                    <i class="icon ion-ios-download-outline">
                                        불러오기
                                    </i>
                                </div>
                            </div>
                            <div class="video-timer-wrapper">
                                <div class="video-timer horizontal">
                                    <div class="label">Video time</div>
                                </div>
                            </div>
                            <div class="video-player">
                                <div class="horizontal toolbar">
                                    <laebl class="button-myron">
                                        <p>PC 영상</p>
                                        <input type="file" accept="video/*">
                                    </laebl>
                                    <div class="button-myron horizontal center disabled">
                                        새 창에서 보기
                                    </div>
                                </div>
                                <!--비디오 플레이어-->
                                <div class="video-wrapper" style="align-items: center; justify-content: center;
                                 filter: brightness(1) contrast(1) saturate(1) invert(0) hue-rotate(0deg);">
                                </div>
                                <!--비디오 플레이어 end-->
                                <div class="playback-info horizontal"></div>
                                <div class="shortcut-info horizontal"></div>
                            </div>
                            <div class="horizontal event-tab-radio-buttons"></div>
                            <div class="event-area"></div>
                        </div>
                        <div class="expand analysis-column" style="overflow-y: auto; padding: 0px 8px;">
                            <div class="app-toolbar horizontal"></div>
                            <div class="analyze-toolbar horizontal"></div>
                            <div class="expand center ground-wrapper horizontal"></div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>