{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#000000">
        <meta name="robots" content="noindex">
        <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
        <title>Project: Myron</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 custom-bg ">
                    <div class="button-load-video-wrapper">
                        <div class="button-load-video horizontal">
                            <b>날짜 선택</b>
                        </div>
                    </div>
                    <div class="video-timer-wrapper">
                        <div class="video-timer horizontal">
                            <div class="label">Video time</div>
                            <div class="video-time">00:00.000</div>
                            <div class="button-set-video-time">수정</div>
                        </div>
                    </div>
                    <div class="video-player">
                        <div class="horizontal toolbar">
                            <label class="button-myron">
                                <p>PC 영상</p>
                                <input type="file" accpet="video/*">
                            </div>
                            <div class="button-myron horizontal center">
                                <p>새 창에서 보기</p>
                            </div>
                        </div>
                        <div class="video-wrapper" style="align-items: center; justify-content:center; filter: brightness(1) contrast(1) saturate(1) invert(0) hue-rotate(0deg)">
                            <div style="position: relative; width 100%; cursor: auto;">
                                <video autoplay></video>
                            </div>
                            <div class="horizontal video-controls">
                                <div class="bar-wrapper expand">
                                    <div class="bar">
                                        <div class="bar-inner" style="width: 0%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute; top: -60px; left: 50%; transform: translateX(-50%); background-color: rgba(0, 30, 45, 0.57); border-radius: 4px; padding: 8px 12px; pointer-events: none; color: rgb(255, 201, 0); transition: top 0.3s ease 0s;"></div>
                            <div class="sc-gEvEer sc-eqUAAy coQri fgprtA" style="position: absolute; top: 8px; left: 8px;"></div>
                        </div>
                        <div class="playback-info horizontal"></div>
                        <div class="shortcut-info horizontal"></div>
                    </div>
                    <div class="horizontal event-tab-radio-buttons"></div>
                    <div class="event-area"></div>
                    <!-- 이벤트 콘텐츠 -->
                </div>
                <div class="col-md-9 custom-bg ">
                    <!-- 분석 콘텐츠-->
                </div>
            </div>
        </div>
    </body>
